/* 
	BASE - Base styles, variables, mixins, etc 
*/
/* line 1, ../sass/base/_variables.scss */
.main-nav-flex, .nav-menu {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 21, ../sass/base/_variables.scss */
.green-gradient-background, .sidebar .search-box input[type="submit"], .sidebar .search-box .main-search-container div:after, .slider-box .mask .triggers .active-trigger, .slider-box .selected, .post-tabs .active-tab, .nav-menu {
  background: green;
  background: -webkit-linear-gradient(#66c13e, #0c932f);
  background: -o-linear-gradient(#66c13e, #0c932f);
  background: -moz-linear-gradient(#66c13e, #0c932f);
  background: linear-gradient(#66c13e, #0c932f);
}

/* line 28, ../sass/base/_variables.scss */
.brown-gradient-background, footer h3, footer .facebook-button {
  background: brown;
  background: -webkit-linear-gradient(#999387, #6f685e);
  background: -o-linear-gradient(#999387, #6f685e);
  background: -moz-linear-gradient(#999387, #6f685e);
  background: linear-gradient(#999387, #6f685e);
}

/* line 35, ../sass/base/_variables.scss */
.tab-flex, .post-tabs {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* line 43, ../sass/base/_variables.scss */
.outline-grey-shadowbox, .sidebar .search-box select,
.sidebar .search-box input[type="text"],
.sidebar .search-box input[type="email"], .sidebar .search-box input[type="submit"], .sidebar .search-box .main-search-container div:after, footer .facebook-button {
  -webkit-box-shadow: 0px 0px 0px 3px #e8e5de;
  -moz-box-shadow: 0px 0px 0px 3px #e8e5de;
  box-shadow: 0px 0px 0px 3px #e8e5de;
}

/* line 48, ../sass/base/_variables.scss */
.inset-green-shadowbox, .post-tabs .active-tab, .nav-menu {
  -webkit-box-shadow: inset 1px 1px 1px 0px #81de41;
  -moz-box-shadow: inset 1px 1px 1px 0px #81de41;
  box-shadow: inset 1px 1px 1px 0px #81de41;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 9, ../sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../sass/base/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, ../sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, ../sass/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 77, ../sass/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../sass/base/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 98, ../sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, ../sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, ../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 145, ../sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 154, ../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, ../sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, ../sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 185, ../sass/base/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 193, ../sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 204, ../sass/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 212, ../sass/base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../sass/base/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, ../sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, ../sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../sass/base/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, ../sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, ../sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, ../sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, ../sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../sass/base/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, ../sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, ../sass/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 356, ../sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 367, ../sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 376, ../sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 387, ../sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 396, ../sass/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 405, ../sass/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 416, ../sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, ../sass/base/_normalize.scss */
td,
th {
  padding: 0;
}

@font-face {
  font-family: 'Zurich';
  src: url(../fonts/zurich/Zurich__Bold_Condensed_BT.ttf);
  src: url(../fonts/zurich/Zurich__Condensed_BT.ttf);
}
@font-face {
  font-family: 'Myriad';
  src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
  font-family: 'Klavika';
  src: url(../fonts/Klavika_Medium_Medium.otf);
}
/* line 14, ../sass/base/_base.scss */
ul {
  list-style: none;
  padding: 0px;
}

/* line 18, ../sass/base/_base.scss */
.bold-text {
  font-weight: bold;
}

/*
	MODULES - Individual site components
*/
/* line 1, ../sass/modules/_typography.scss */
.phone-title {
  font-size: 1em;
}

/* line 4, ../sass/modules/_typography.scss */
.header-phonenumber {
  font-size: 1.65em;
}

/* line 10, ../sass/modules/_typography.scss */
.post-tabs li {
  font-size: 1.5em;
}

/* line 13, ../sass/modules/_typography.scss */
.sidebar h4 {
  font-size: 1.1em;
}

/* line 16, ../sass/modules/_typography.scss */
input[type="submit"] {
  font-size: 1.4em;
}

/* line 19, ../sass/modules/_typography.scss */
.footer-column-title {
  font-size: 1.3em;
}

/* line 22, ../sass/modules/_typography.scss */
.facebook-button {
  font-size: 1.3em;
}

/* line 25, ../sass/modules/_typography.scss */
.slide-text span {
  font-size: 3em;
}

/* line 2, ../sass/modules/_blocks.scss */
.post .post-image-wrapper {
  height: 120px;
  overflow: hidden;
  border: 4px solid #e9e6df;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
/* line 9, ../sass/modules/_blocks.scss */
.post .post-image-wrapper img {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
/* line 15, ../sass/modules/_blocks.scss */
.post a {
  color: #3a3731;
}
/* line 17, ../sass/modules/_blocks.scss */
.post a h4 {
  color: #3a3731;
  font-weight: bold;
}

/* line 1, ../sass/modules/_sections.scss */
main {
  margin-bottom: 40px;
}
/* line 3, ../sass/modules/_sections.scss */
main .main-content,
main .sidebar {
  border-top: 1px solid #e1dbce;
  border-bottom: 1px solid #e1dbce;
}
/* line 8, ../sass/modules/_sections.scss */
main .main-content {
  padding-top: 15px;
  border-left: 1px solid #e1dbce;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 14, ../sass/modules/_sections.scss */
main .sidebar {
  border-right: 1px solid #e1dbce;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 20, ../sass/modules/_sections.scss */
.main-content {
  background: white;
  border-right: 1px solid #e8e3da;
  height: 100%;
}

/* line 25, ../sass/modules/_sections.scss */
.sidebar {
  height: 100%;
  background: #f4f2ec;
  border-left: 1px solid #f0ede5;
  padding-top: 15px;
}
/* line 30, ../sass/modules/_sections.scss */
.sidebar h3 {
  font-family: 'Myriad';
  text-transform: uppercase;
  clear: both;
}
/* line 36, ../sass/modules/_sections.scss */
.sidebar .search-box h3:first-child {
  margin-top: 0px;
}
/* line 39, ../sass/modules/_sections.scss */
.sidebar .search-box select, .sidebar .search-box input[type="submit"] {
  margin: 8px 0px;
}
/* line 42, ../sass/modules/_sections.scss */
.sidebar .search-box select,
.sidebar .search-box input[type="text"],
.sidebar .search-box input[type="email"] {
  line-height: 25px;
  border-radius: 5px;
  border: 1px solid #cfcdc5;
  padding-left: 5px;
}
/* line 51, ../sass/modules/_sections.scss */
.sidebar .search-box select {
  width: 100%;
  background: url(../img/select-button.gif) no-repeat #fff;
  background-position: 98%;
  -webkit-appearance: none;
  padding: 0px;
}
/* line 58, ../sass/modules/_sections.scss */
.sidebar .search-box input[type="text"] {
  margin-right: 10px;
}
/* line 61, ../sass/modules/_sections.scss */
.sidebar .search-box input[type="email"] {
  width: 100%;
}
/* line 64, ../sass/modules/_sections.scss */
.sidebar .search-box input[type="submit"] {
  font-family: 'Klavika';
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  border-top: 1px solid #0c932f;
  border-left: 1px solid #0c932f;
  text-shadow: 0px -2px 0px #1c7c1f;
}
/* line 78, ../sass/modules/_sections.scss */
.sidebar .search-box .main-search-container input {
  border-right: none;
  width: 84%;
}
/* line 82, ../sass/modules/_sections.scss */
.sidebar .search-box .main-search-container input, .sidebar .search-box .main-search-container div {
  float: left;
}
/* line 86, ../sass/modules/_sections.scss */
.sidebar .search-box .main-search-container div {
  overflow: hidden;
  padding: 19px;
  position: relative;
  left: -4px;
}
/* line 91, ../sass/modules/_sections.scss */
.sidebar .search-box .main-search-container div:after {
  content: '';
  transform: rotate(45deg);
  float: right;
  border-radius: 5px;
  position: absolute;
  padding: 11px;
  left: -14px;
  bottom: 3px;
  border: 1px solid #2da433;
}
/* line 107, ../sass/modules/_sections.scss */
.sidebar .news-box {
  margin-bottom: 30px;
}
/* line 109, ../sass/modules/_sections.scss */
.sidebar .news-box .news-post {
  margin-top: 15px;
}
/* line 111, ../sass/modules/_sections.scss */
.sidebar .news-box .news-post a {
  margin: 5px 0px;
  font-weight: bold;
  color: #3f3b30;
}

/* line 2, ../sass/modules/_components.scss */
.slider-box .mask {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
/* line 7, ../sass/modules/_components.scss */
.slider-box .mask .slide-container .slide {
  animation: all 0.3s linear;
  position: absolute;
  opacity: 0;
  width: 100%;
}
/* line 12, ../sass/modules/_components.scss */
.slider-box .mask .slide-container .slide img {
  width: 100%;
}
/* line 15, ../sass/modules/_components.scss */
.slider-box .mask .slide-container .slide .slide-text {
  background: rgba(0, 0, 0, 0.7);
  width: 35%;
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  z-index: 100;
  padding: 0px 20px;
  color: white;
}
/* line 25, ../sass/modules/_components.scss */
.slider-box .mask .slide-container .slide .slide-text span, .slider-box .mask .slide-container .slide .slide-text a {
  color: #28b028;
}
/* line 29, ../sass/modules/_components.scss */
.slider-box .mask .slide-container .slide .slide-text h2 {
  font-family: 'Zurich';
  margin-bottom: 0px;
  margin-top: 10px;
}
/* line 34, ../sass/modules/_components.scss */
.slider-box .mask .slide-container .slide .slide-text span {
  font-family: 'Zurich';
  margin-bottom: 10px;
  display: block;
}
/* line 41, ../sass/modules/_components.scss */
.slider-box .mask .slide-container .active-slide {
  opacity: 1;
}
/* line 45, ../sass/modules/_components.scss */
.slider-box .mask .triggers {
  position: absolute;
  color: white;
  left: 67.2%;
  top: 80%;
  z-index: 500;
}
/* line 51, ../sass/modules/_components.scss */
.slider-box .mask .triggers li {
  cursor: pointer;
  background: grey;
  display: inline-block;
  padding: 5px 10px;
  margin: 3px 3px;
  border-radius: 50%;
}
/* line 67, ../sass/modules/_components.scss */
.slider-box .slider-comment {
  position: relative;
}
/* line 69, ../sass/modules/_components.scss */
.slider-box .slider-comment h1 {
  font-family: 'Zurich';
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 74, ../sass/modules/_components.scss */
.slider-box .slider-comment p {
  width: 60%;
}
/* line 77, ../sass/modules/_components.scss */
.slider-box .slider-comment .green-link {
  color: #28b028;
  text-decoration: underline;
}
/* line 81, ../sass/modules/_components.scss */
.slider-box .slider-comment img {
  position: absolute;
  z-index: 1000;
  bottom: -8px;
  left: 70%;
  width: 140px;
}

/* line 90, ../sass/modules/_components.scss */
.post-tabs {
  border-radius: 5px;
}
/* line 93, ../sass/modules/_components.scss */
.post-tabs li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 97, ../sass/modules/_components.scss */
.post-tabs li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 101, ../sass/modules/_components.scss */
.post-tabs li {
  font-family: 'Zurich';
  border: 1px solid #cfcdc5;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
}
/* line 109, ../sass/modules/_components.scss */
.post-tabs li span {
  position: relative;
}
/* line 111, ../sass/modules/_components.scss */
.post-tabs li span:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.66px;
  border-color: transparent transparent transparent #42ac2d;
  left: -15px;
  top: 25%;
}
/* line 124, ../sass/modules/_components.scss */
.post-tabs .active-tab {
  color: white;
  position: relative;
}
/* line 129, ../sass/modules/_components.scss */
.post-tabs .active-tab:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -10px;
  left: 50%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #0c932f transparent transparent transparent;
}
/* line 141, ../sass/modules/_components.scss */
.post-tabs .active-tab span:before {
  display: none;
}

/*
	LAYOUTS - Page layout styles
*/
/* line 1, ../sass/layouts/_nav.scss */
.nav-menu {
  font-family: 'Zurich';
  font-weight: bold;
  height: 40px;
  font-size: 1.1em;
  border-radius: 4px;
  border: 1px solid #0c932f;
  border-bottom: none;
  text-transform: uppercase;
}
/* line 13, ../sass/layouts/_nav.scss */
.nav-menu a {
  color: white;
  text-shadow: 0px -3px 0px #1c7c1f;
}
/* line 16, ../sass/layouts/_nav.scss */
.nav-menu a:hover {
  text-decoration: none;
}

/* line 1, ../sass/layouts/_header.scss */
header {
  margin-bottom: 20px;
}

/* line 4, ../sass/layouts/_header.scss */
.header-section {
  padding: 20px 0px;
}

/* line 7, ../sass/layouts/_header.scss */
.header-contacts {
  float: right;
  text-align: right;
}
/* line 10, ../sass/layouts/_header.scss */
.header-contacts .header-links {
  font-family: 'Zurich';
}
/* line 12, ../sass/layouts/_header.scss */
.header-contacts .header-links li {
  display: inline-block;
  padding: 0px 5px;
}
/* line 15, ../sass/layouts/_header.scss */
.header-contacts .header-links li a {
  color: #209a28;
  text-transform: uppercase;
}
/* line 21, ../sass/layouts/_header.scss */
.header-contacts p {
  margin: 0px;
}
/* line 24, ../sass/layouts/_header.scss */
.header-contacts .phone-title {
  color: #585755;
}

/* line 1, ../sass/layouts/_footer.scss */
footer {
  color: #757268;
  padding-bottom: 20px;
}
/* line 4, ../sass/layouts/_footer.scss */
footer a {
  color: #757268;
}
/* line 7, ../sass/layouts/_footer.scss */
footer .row:first-child {
  background: #f4f2ec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 12, ../sass/layouts/_footer.scss */
footer h3 {
  border-bottom: 2px solid #635543;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 0px;
  text-align: center;
  color: white;
  margin-top: 0px;
}
/* line 22, ../sass/layouts/_footer.scss */
footer .footer-column-title {
  color: #64522a;
  text-transform: uppercase;
  font-family: 'Klavika';
  margin: 10px 0px;
  display: block;
}
/* line 29, ../sass/layouts/_footer.scss */
footer .footer-list-column {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
/* line 33, ../sass/layouts/_footer.scss */
footer .footer-list-column li {
  margin-bottom: 5px;
}
/* line 37, ../sass/layouts/_footer.scss */
footer .footer-copyrights {
  text-align: center;
}
/* line 40, ../sass/layouts/_footer.scss */
footer .facebook-button {
  font-family: 'Klavika';
  text-transform: uppercase;
  color: white;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #867b6b;
  padding: 5px 0px;
  margin-top: 5px;
  display: inline-block;
}
/* line 52, ../sass/layouts/_footer.scss */
footer .facebook-button span:first-child {
  padding: 0px 10px 0px 15px;
}
/* line 55, ../sass/layouts/_footer.scss */
footer .facebook-button span:last-child {
  padding: 8px 10px;
  border-left: 1px solid #7a6e5f;
}
/* line 58, ../sass/layouts/_footer.scss */
footer .facebook-button span:last-child img {
  vertical-align: -1px;
}
/* line 62, ../sass/layouts/_footer.scss */
footer .facebook-button:hover {
  text-decoration: none;
}
/* line 66, ../sass/layouts/_footer.scss */
footer .copyrights {
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  color: #3a3731;
}
