.nav-menu {
	@extend .main-nav-flex;
	@extend .green-gradient-background;
	@extend .inset-green-shadowbox;
	font-family: 'Zurich';
	font-weight: bold;
	height: 40px;
	font-size: 1.1em;
	border-radius: 4px;
	border: 1px solid #0c932f;
	border-bottom: none;
	text-transform: uppercase;
	& a {
		color: white;
		text-shadow: 0px -3px 0px rgba(28, 124, 31, 1);
		&:hover {
			text-decoration: none;
		}
	}
}