.phone-title {
	font-size: 1em;
}
.header-phonenumber {
	font-size: 1.65em;
}
.slider-comment {

}
.post-tabs li {
	font-size: 1.5em;
}
.sidebar h4 {
	font-size: 1.1em;
}
input[type="submit"] {
	font-size: 1.4em;
}
.footer-column-title {
	font-size: 1.3em;
}
.facebook-button {
	font-size: 1.3em;
}
.slide-text span {
	font-size: 3em;
}